# Changelog

{{#releases}}

## {{name}}
{{#scopesEnabled}}
{{#scopes}}

### {{name}}
{{#categories}}

#### {{name}}

{{#commits}}
* {{message}}
{{/commits}}
{{/categories}}
{{/scopes}}
{{/scopesEnabled}}
{{^scopesEnabled}}
{{#categories}}

### {{name}}

{{#commits}}
* {{message}}
{{/commits}}

{{/categories}}
{{/scopesEnabled}}

{{/releases}}